<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.kosta.yolo.infoMapper.TripInfoMapper">
    	<select id="selectAll" resultType="com.kosta.yolo.vo.TripInfoVO">
    		SELECT * FROM TripInfo
    	</select>
    	
    	<insert id="infoInsert"  parameterType="com.kosta.yolo.vo.TripInfoVO">
    		INSERT INTO TripInfo(trip_id, category_id, trip_nickname, trip_address, trip_image, trip_content, trip_time, trip_pay, trip_add1, trip_add2, trip_add3, trip_add4, trip_like)
    		 VALUES(#{trip_id }, #{category_id} ,#{trip_nickname} , #{trip_address} , #{trip_image} ,#{trip_content} ,#{trip_time} ,#{trip_pay}, #{trip_add1}, #{trip_add2}, #{trip_add3}, #{trip_add4}, #{trip_like} )
    	</insert>
    	
    	<select id="selectInfo"  parameterType="java.lang.String"  resultType="com.kosta.yolo.vo.TripInfoVO">
    		SELECT * FROM TripInfo WHERE category_id = #{category_id}
    	</select>
    	
    	<delete id="deletePro"  parameterType="com.kosta.yolo.vo.TripInfoVO">
    		DELETE FROM TripInfo WHERE trip_id = #{trip_id }
    	</delete>
    	
    	
    </mapper>