<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.kosta.yolo.infoMapper.UserMapper">

	<resultMap type="com.kosta.yolo.vo.UserVO" id="MemberResultMap" >
		<result property="id" column="id"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="gender" column="gender"/>
		<result property="age" column="age"/>
	</resultMap>
	
	<insert id="getWrite" >
		insert into User(id,password,email,gender,age) values(#{id} , #{password} , #{email}, #{gender}, #{age})
	</insert>
	
	<select id="login" resultMap="MemberResultMap" parameterType="java.lang.String">
		select id, password from User where id=#{id}
	</select>
		
</mapper>