
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../font/Roboto-Light_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../font/Roboto-Bold_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../font/Philosopher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: sans-serif;
    /* 1 */
    
    -ms-text-size-adjust: 100%;
    /* 2 */
    
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/**
 * reset
 */

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    
    vertical-align: baseline;
    /* 2 */
}

audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden],
template {
    display: none;
}
/* Links
   ========================================================================== */

a {
    background-color: transparent;
}


a:active,
a:hover {
    outline: 0;
}


abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.2em 0;
}


mark {
    background: #ff0;
    color: #000;
}


small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}


img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}


hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}


pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    
    font: inherit;
    /* 2 */
    
    margin: 0;
    /* 3 */
}


button {
    overflow: visible;
}


button,
select {
    text-transform: none;
}


button,
html input[type="button"],
/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    
    cursor: pointer;
    /* 3 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    
    padding: 0;
    /* 2 */
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    
    box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    /* 1 */
    
    padding: 0;
    /* 2 */
}

textarea {
    overflow: auto;
}


optgroup {
    font-weight: bold;
}
/* Tables
   ========================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
html .btn {
    display: inline-block;
    padding: 0 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    background: #de443a;
    height: 60px;
    border-radius: 0;
    letter-spacing: 1.3px;
    position: relative;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
html .btn:HOVER {
    text-decoration: none;
    background: #f37b78;
    color: #fff;
}
html .btn:FOCUS {
    outline: thin dotted #333333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
html .btn:ACTIVE {
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
html .btn--lg {
    font-size: 18px;
    height: 66px;
    line-height: 66px;
    padding: 0 70px;
    margin: 0 0 45px;
}
html .btn--sm {
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    text-transform: capitalize;
}
html .btn--black {
    background: #43a4a2;
    border: 1px solid #fff;
    line-height: 48px;
    height: 48px;
    text-transform: none;
    font-size: 14px;
   letter-spacing:-1px;
    font-family:Malgun Gothic;
}
html .btn--black:hover {
    background: #393b3f;
}
html .btn--white {
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #555;
    text-transform: none;
    font-weight: 300;
}
html .btn--white:hover {
    background: #f8f8f8;
    color: #555;
}
html .btn--green {
    background: #42ba6c;
}
html .btn--green:hover {
    background: #5bcc83;
}
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #0e0f11;
    font-size: 16px;
    font-weight: 300;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
iframe {
    border: 0
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   checkbox
   ========================================================================== */

input[type=checkbox] {
    display: none;
}
/* to hide the checkbox itself */

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}
input[type=checkbox] + label:before {
    content: "\f096";
    font-size: 23px;
    color: #de443a;
    top: 4px;
    width: 30px;
    position: relative;
}
/* unchecked icon */

input[type=checkbox] + label:before {
    letter-spacing: 10px;
}
/* space between checkbox and label */

input[type=checkbox]:checked + label:before {
    content: "\f046";
}
/* checked icon */

input[type=checkbox]:checked + label:before {
    letter-spacing: 5px;
}
/* allow space for check mark */

.b-checkbox label {
    font-size: 15px;
    cursor: pointer;
}

body {
    /*background: #f8f8f8;*/
    
    font-family: Roboto-Regular, sans-serif, Malgun Gothic;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #de443a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
label {
    display: block;
    margin-top: 2em;
    font-size: 0.9em;
    color: #777;
}
.dropdown {
    position: relative;
    display: block;
    margin-top: 0.5em;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}
.b-promo__form__col1 {
    font: 300 16px Roboto-Light;
    color: #878787;
}
.b-promo__form__col1 .dropdown {
    margin-top: 0;
}
.b-promo__form__col1 select {
    height: 60px;
}
.b-slide-menu__content select,
.b-promo__search select {
    height: 50px;
}
.b-promo__form__col1 select:focus,
.b-slide-menu__content select:focus {
    border-color: transparent;
}
.b-promo__form__col1 .button,
.b-slide-menu__content .button {
    background: #fff;
    border: none;
    border-radius: 0;
}
.b-slide-menu__content .button {
    border: 1px solid #e2e2e2;
    margin-top: 0;
}

.login-btn {
   padding:10px;
   background:#de443a;
}

.b-promo__form__col1 input[name="location"] {
    border-left: none;
}
select {
    /* Make sure the select is wider than the container so we can clip the arrow */
    
    width: 110%;
    max-width: 110%;
    min-width: 110%;
    /* Remove select styling */
    
    appearance: none;
    -webkit-appearance: none;
    /* Ugly Firefox way of doing it */
    
    -moz-appearance: window;
    text-indent: 0.01px;
    text-overflow: "";
    /* Magic font size number to prevent iOS text zoom */
    
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    color: #444;
    outline: none;
    /* Padding works surpringly well */
    
    padding: .4em 19% .4em .8em;
    font-family: helvetica, sans-serif;
    line-height: 1.2;
    margin: .2em;
}
/* This hides native dropdown button arrow in IE */

select::-ms-expand {
    display: none;
}
.dropdown:after {
    background: none;
    color: #bbb;
    content: "\25BC";
    font-size: .7em;
    padding: 0;
    position: absolute;
    right: 1em;
    top: 2.2em;
    bottom: .3em;
    z-index: 1;
    pointer-events: none;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.button {
    border: 1px solid #bbb;
    background: #f3f3f3;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}
a:hover {
    color: #eb7b73;
}
.press--left {
    float: left;
}
.press--right {
    float: right;
}
.m--centered {
    text-align: center;
}
.m--righted {
    text-align: right;
}
.m--lefted {
    text-align: left;
}
html .m--border-radius-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
html .m--border-radius-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.b-main-container {
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
}
.b-main-container .b-placeholder {
    /*background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAAKAAoDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDyNbqB7c/KQ3UfSoDqFoDgq+R15rMjZtoG44x61Vq+Zk8qP//Z) no-repeat center top;*/
    background-size: cover;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="time"],
textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    min-height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 15px;
    font: 300 16px Roboto-Light;
    transition-duration: 0.2s;
    transition-property: all;
    color: #0e0f11;
}
textarea {
    padding: 15px;
    line-height: 20px;
}

li { list-style-type:none; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border: 1px solid #de443a;
    outline: 0 none;
}
/* Chosen v1.6.2 | (c) 2011-2016 by Harvest | MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md */

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}
.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15)
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0
}
.chosen-container a {
    cursor: pointer
}
.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    color: #999
}
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, .1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px
}
.chosen-container-single .chosen-default {
    color: #999
}
.chosen-container-single .chosen-single span {
    font-family: Roboto-Light;
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px
}
.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: -42px 1px no-repeat;
    font-size: 1px
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 100%
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat 0 2px
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap
}
.chosen-container-single .chosen-search input[type=text] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: #fff no-repeat 100% -20px;
    background: no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer
}
.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default
}
.chosen-container .chosen-results li.highlighted {}.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4
}
.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: 700;
    cursor: default
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline
}
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(#eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(#eee 1%, #fff 15%);
    background-image: -o-linear-gradient(#eee 1%, #fff 15%);
    background-image: linear-gradient(#eee 1%, #fff 15%);
    cursor: text
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, .05);
    color: #333;
    line-height: 13px;
    cursor: default
}
.chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: -42px 1px no-repeat;
    font-size: 1px
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    color: #666
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0
}
.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default
}
.chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}
/* .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #eee), color-stop(80%, #fff));
    background-image: -webkit-linear-gradient(#eee 20%, #fff 80%);
    background-image: -moz-linear-gradient(#eee 20%, #fff 80%);
    background-image: -o-linear-gradient(#eee 20%, #fff 80%);
    background-image: linear-gradient(#eee 20%, #fff 80%);
    box-shadow: 0 1px 0 #fff inset
} */
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: 0;
    background: transparent
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px
}
.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}
.chosen-container-active .chosen-choices li.search-field input[type=text] {
    color: #222;
}
.chosen-disabled {
    opacity: .5;
    cursor: default
}
.chosen-disabled .chosen-single {
    cursor: default
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default
}
.chosen-rtl {
    text-align: right
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0
}
.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px
}
.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px
}
.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px
}
.chosen-rtl .chosen-choices li {
    float: right
}
.chosen-rtl .chosen-choices li.search-field input[type=text] {
    direction: rtl
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
    left: 9999px
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0
}
.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: 0
}
.chosen-rtl .chosen-search input[type=text] {
    padding: 4px 5px 4px 20px;
    background: #fff no-repeat -30px -20px;
    background: no-repeat -30px -20px;
    direction: rtl
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
    .chosen-rtl .chosen-search input[type=text],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type=text],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-size: 52px 37px;
        background-repeat: no-repeat;
    }
}
/* Custom arrow - could be an image, SVG, icon font, etc. */
/* ---------------------------------------------------- Header style ---------------------------------------------------- */

.b-header {
    background: #5be0dd;
    position: relative;
    z-index: 100000;
}
.logo {
    float: left;
    line-height: 11px;
    width: 220px;
   text-align:center;
    align-items: center;
    cursor: pointer;
    height: 80px;
    display: flex;
    background: #faf7fa;
    margin-left: 50px;
   padding-left:20px;
}
.logo img {
    display: block;
    width: auto;
    height: auto;
}
.logo span {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 15px;
}
.weather {
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 24px;
    min-height: 40px;
    display: none;
}
.b-nav {
    text-align: left;
}
.b-nav .fa-angle-down {
    color: white;
    margin-left: 4px;
}
.b-nav ul {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.b-nav > ul {
    min-height: 80px;
    padding-top: 28px;
   padding-left:250px;
    top: 80px;
    z-index: -1;
    text-align: center;
    width: 100%;
    position: absolute;
}
.b-nav ul li ul {
    top: 40px;
}
.b-nav > ul > li {
   width:150px;
    height:50px;
}
.b-nav > ul > li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.b-nav > ul > li:after {
    content: "";
    position: absolute;
    border-bottom: 26px solid transparent;
    width: 100%;
    left: 0;
}
.b-nav ul li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 20px;
    position: relative;
}
.b-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}
.b-nav ul li a:hover {
    color: #de443a;
}
.b-nav ul li a .fa {
    margin: 0 5px 0 0;
}
.b-nav ul li a .fa-angle-down {
    margin: 0 0 0 5px;
}
.b-nav ul li ul {
    position: absolute;
    left: -22px;
    width: 200px;
    box-sizing: border-box;
    background: #378685;
    display: none;
    z-index: 1;
}
.b-nav ul li:hover > ul {
    display: block;
}
.b-nav ul li ul li {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    transition: all 0.3s ease;
}
.b-nav ul li ul li a {
    padding: 15px 30px;
    display: block;
    width: 100%;
    height: 100%;
}
.b-nav ul li ul li:hover {
    background: #27282b;
}
.b-nav ul ul ul {
    top: 0;
    left: 100%;
}
.b-nav ul li ul li:first-child {
    margin-top: 0;
}
.b-header__ctrl {
    float: right;
}
.b-header__ctrl__item {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-left: 1px dashed #fff;
    padding: 16px 30px;
    height: 80px;
    box-sizing: border-box;
}
.b-header__ctrl__item:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.b-header__ctrl__item:first-child {
    border-left: none;
}
.login {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto-Light;
    display: inline-block;
    vertical-align: middle;
}
.login:hover {
    color: #e23d37;
}
.login .fa {
    margin-right: 14px;
}
.b-search {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.b-search:hover {
    color: #e23d37;
}
.b-header__ctrl__item__search {
    color: #fff;
}
.searchbox {
    position: relative;
    min-width: 50px;
    width: 0%;
    height: 50px;
    display: inline-block;
    z-index: 10;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
input[type="search"].searchbox-input {
    top: 0;
    right: 0;
    border: none;
    outline: 0;
    background: #fff;
    width: 50px;
    height: 48px;
    min-height: 48px;
    margin: 0;
    font-size: 16px;
    position: absolute;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
input[type="search"].searchbox-input:focus,
input[type="search"].searchbox-input:active {
    border: none;
}
.searchbox-icon,
.searchbox-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    padding-top:10px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #43a4a2;
}
.searchbox-icon:hover .fa {
    color: #de443a;
}
.searchbox-open input.searchbox-input {
    width: 300px;
    padding: 0px 55px 0px 20px;
    transition: all 0.1s ease 0s;
}
.b-placeholder {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease 0s;
}
.b-counter2 .b-counter2__sub-title ~ p {
    max-width: 250px;
    text-align: center;
    margin: auto;
}
.b-placeholder--fadeout {
    opacity: 0;
}
.lazy-cont {
    z-index: 2;
    position: relative;
}
html .b-promo__search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -150px;
}
.scroll_block {
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.scroll_block img {
    display: block;
    margin: 20px auto;
}
.fadein {
    display: none;
}
.fadein.active {
    display: block;
    animation: 1s ease 0s normal none 1 running fadein;
    -moz-animation: 1s ease 0s normal none 1 running fadein;
    /* Firefox */
    
    -webkit-animation: 1s ease 0s normal none 1 running fadein;
    /* Safari and Chrome */
    
    -o-animation: 1s ease 0s normal none 1 running fadein;
    /* Opera */
}
.b-nav-toggle {
    display: none;
}
/* ---------------------------------------------------- Home page style ---------------------------------------------------- */

.b-cont-title {
    font: bold 30px Philosopher;
    text-transform: capitalize;
    margin: 0 0 60px;
}
.b-cont-title:after {
    content: '';
    width: 50px;
    height: 1px;
    background: #0e0f11;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.b-cont-title--white {
    color: #fff;
}
.b-cont-title--white.b-cont-title:after {
    background: #fff;
}
.b-cont-title  + p,
.b-promo2__list p {
    color:#c6c6c6;
    font-size: 16px;
}
.b-promo {
    position: relative;
    background-size: cover;
    min-height: calc(100vh - 60px);
    background-attachment: fixed;
}


/* 서브 메뉴 리스트 */
.b-cont-sub-menu {
   width:100%;
   margin:10px 0;
   padding:0;
}

.b-cont-sub-menu  li {
   display:inline-block;
   width:49%;
   height:50px;
   line-height:50px;
   margin-left:5px;
   text-align:center;
   border:1px dashed #ddd;
}

.b-cont-sub-menu li a {
   display:block;
   width:100%;
   height:50px;
   font-size:18px;
}
.b-cont-sub-menu li a:hover {
   color:#fff;
   background:#43a4a2;
   pointer:cursor;
}

.logged-in .b-promo {
    height: calc(100vh - 115px);
}
.b-promo__title {
    font: bold 68px Philosopher;
    color: #fff;
    text-align: center;
   padding-bottom:20px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    
    -webkit-animation: fadein 2s;
    /* S